/* ==========================================================================
	#Media Queries
========================================================================== */
/* small desktops */
@media(max-width: 1199px) {

p.name { display: none; }
.goal-card:nth-child(3n) { margin-right: 15px; }
#mobile-goal-btn { position: absolute; top: -43px; left: 100px; }

}

/* tablets */
@media(max-width: 991px) {

}

/* mobile */
@media(max-width: 767px) {


/*--------------------------------------------
HEADER
---------------------------------------------*/
#profile { position: absolute;
top: 17px;
right: 17px; }
body.wrapper-open {
	margin-right: 200px;
}
#mobile-nav-btn { display: block; }
#mobile-nav-btn i.fa.fa-bars {
	position: absolute;
	top: 19px;
	right: 20px;
	font-size: 32px;
	color: #ffffff;
	cursor: pointer;
}

.modal-sm {
	width:330px !important;
}

#post-box { display: none; }
#logo { top: 15px; }
#mobile-post-box { display: block; }
#journal-entry { top: -112px; }   
#mobile-goal-btn { position: absolute; top: -113px; left: 100px; }
}