<!-- PRIVATE MASTER TEMPLATE -->

<!-- HEADER -->
<div id="header" class="container-fluid table">
	<div class="table-center">
		<div id="logo">
			<a ui-sref="private.home"><img src="app/img/kurbi-logo@2x.png" width="35" height="40" alt="Kurbi" /></a>
		</div><!--END #logo-->
		
		<div id="post-box" class="col-sm-8 col-sm-offset-2">
			<!-- ADD POST FORM -->
			<div add-post></div>
			<!-- /ADD POST FORM -->
		</div><!--END #post-box-->
		

		<div id="profile">
			<a href="#" class="pull-left">
				<div ng-if="goal.iconPath == ''">
					<img src="http://placehold.it/40x40" alt="{{card.author}}" height="40" width="40" class="profile-small" />
				</div>
				<div ng-if="goal.iconPath != ''">
					<img src="{{avatarImage}}" width="40" height="40" alt="{{firstName}} {{lastName}}" class="profile-small" />
				</div>
			</a>
			<p class="pull-left name"><a href="#">{{firstName}} {{lastName}}</a></p>
			<a href="#" class="pull-left dropdown-toggle" type="button" id="mainMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-cog"></i></a>
			<div class="clear"></div>
			<ul class="dropdown-menu" aria-labelledby="mainMenu">
				<li><a href="#">Settings</a></li>
				<li><a href="#">Profile</a></li>
			  <li role="separator" class="divider"></li>
			  <li><a href="#" ng-click="logOut()">Logout</a></li>
			</ul>
		</div><!--END #profile-->
		
<!--		<div id="mobile-nav-btn">
			<a ng-click="openAside('right',true,'design/templates/mobileMenu.html');"><i class="fa fa-bars"></i></a>
		</div><!--END #mobile-nav-btn--*>-->

	</div><!--END .table-center-->
</div><!--END #header-->
<!-- /HEADER -->

<!-- NAVBAR -->
<div id="navbar" style="padding-left: 20px;">
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Menu
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a ui-sref="private.home">Home</a></li>
	    <li><a ui-sref="private.journal">Journal</a></li>
	    <li><a ui-sref="private.goals">Goals</a></li>
	    <li><a ui-sref="private.live-chart-list">Live Chart</a></li>
	  </ul>
	</div><!--END .dropdown-->
</div><!--END #navbar-->
<!-- /NAVBAR -->

<div id="mobile-goal-btn" class="visible-sm* visible-md* hidden-lg">
	<a class="btn btn-default" role="button" ng-click="openAside('right',true,'modules/goal/templates/activities.html')">Add Goal</a>
</div>

<div id="page-container" class="container-fluid">
	
	<div id="mobile-post-box" class="row">
		<div class="col-sm-12">
			<!-- ADD POST FORM -->
			<div add-post></div>
			<!-- /ADD POST FORM -->
		</div>
	</div><!--END #mobile-post-box-->
	
	<div class="row">
		
		<div id="content" class="col-md-10">
			<div class="row">
				<div class="col-md-12">
					
					<!-- UI ROUTER -->
					<div ui-view></div>
					<!-- /UI ROUTER -->
					
				</div><!--END columns-->
			</div><!--END .row-->
		</div><!--END #content-->
		
		<!-- SIDEBAR -->
		<div ng-include src="'design/templates/sidebar.html'"></div>
		<!-- /SIDEBAR -->

	</div><!--END .row-->
</div><!--END #page-container-->
