<script>
    WebFont.load({
      google: {
        families: ["Bitter:400,700,400italic","Droid Sans:400,700","Droid Serif:400,700"]
      }
    });
    $( document ).ready(function() {
      $('#email-form').on('submit','',function(e){
        var data = $(this).serialize();
        posting = $.post("http://api.gokurbi.com/v1/signup",data);
        posting.complete(function(response){
          if(posting.responseText == "true"){
            alert('Your journal was saved.');
          }else{
            alert('There was a problem, please try again.');
          }
        });

        return false;
      });
    });
  </script>
  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container">
      <a class="w-nav-brand brand" ui-sref="public.home"><img width="130" src="/design/img/public/logo.png">
      </a>
      <nav class="w-nav-menu" role="navigation"><a class="w-nav-link navlink" ui-sref="public.ourstory">Our Story</a><a class="w-nav-link navlink" ui-sref="public.logInPage">Sign-in</a>
      </nav>
      <div class="w-nav-button menubutton">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-section section hero home">
    <div class="w-container herocontainer home">
      <div class="w-clearfix">
        <h1 class="accessheroheading">Take control of your health data and accomplish your biggest life goals.</h1>
        <h4 class="homeheadingsupport">Find community, encouragement, and inspiration to do the things that matter to you.</h4><a class="button access home" ui-sref="public.freeaccess">Try Kurbi Free</a>
      </div>
    </div>
  </div>
  <div class="w-section section">
    <div class="w-container">
      <div>
        <h2 class="livechart-heading home">LiveChart puts you in control of your data</h2><img class="livechart-screenshot mobile" src="/design/img/public/LiveChartShot.png">
        <p class="livechart-text">We’ve just met so we don’t know much about you. However, one thing we do know is that you’re busy. Managing health, self, and family life is really hard.
          <br>
          <br>Kurbi puts everything you need to know about your health and how it affects your daily activities in one safe place.</p>
      </div>
    </div>
  </div>
  <div class="w-section section path">
    <div class="w-container aboutcontainer">
      <div>
        <h2 class="path-heading mobile">Paths make it easier to finish what you start</h2><img class="path-collage" src="/design/img/public/PathOptionsShot.png">
        <p class="livechart-text" style="margin:0 0 0 25px;float:left;">We might be a little biased here, but Paths are really cool. Once you set a goal we recommend a safe path to accomplish it based on your health history. Paths are step-by-step playbooks created by experts from your local area to help people just like you do what they've always dreamt. And if you want some personal attention you can reach out to them directly via our private messaging features. Yep, we know ... amazing!</p>
      </div>
    </div>
  </div>
  <div class="w-section">
    <div class="w-container">
      <div>
        <p>Kurbi is still in development but we’re letting people try it to get an early peek.</p><a class="button goalpreview" ui-sref="public.freeaccess">Sign-up for Free Early Access</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="w-container">
      <div>
        <h6>© 2011-2015 Kurbi Health, Inc.</h6>
      </div>
    </div>
  </div>