  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container">
      <a class="w-nav-brand brand" href="index.html"><img width="130" src="/design/img/public/logo.png">
      </a>
      <nav class="w-nav-menu" role="navigation"><a class="w-nav-link navlink" ui-sref="public.ourstory">Our Story</a><a class="w-nav-link navlink" ui-sref="public.logInPage">Sign-in</a>
      </nav>
      <div class="w-nav-button menubutton">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-section section hero accesshero story">
    <div class="w-container herocontainer">
      <h1 class="accessherotext">Personally affected. Passionately involved.</h1><a class="button goalpreview storysupportsection" ui-sref="public.freeaccess">See how we're trying to help</a>
      <h4 class="storysupporttext">Find community, encouragement, and inspiration to do the things that matter to you.</h4>
      <div class="w-form">
        <form class="w-clearfix formboxparent" id="email-form" name="email-form" data-name="Email Form">
          <input class="w-input signupbox storybox" id="email-2" type="email" placeholder="enter email for free access" name="email-2" data-name="Email 2" required="required">
          <input class="w-button signupbox button access storybutton" type="submit" value="Sign-up" data-wait="Please wait...">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section about">
    <div class="w-container aboutcontainer">
      <div>
        <h2 class="storyheadings">Who Are We</h2>
        <h4 class="aboutsub story body1">We’re a team 4 with close connections to several chronic conditions.&nbsp;We’ve been working on Kurbi since 2013.<br><br>Wes Garnett – Co-Founder / UX Designer<br>Andrew Robbins – Co-Founder / Front-end Developer<br>Steve Roettger – Co-Founder / Front-end Developer<br>Matt Eckman – Co-Founder / Back-end Developer</h4>
      </div>
      <div>
        <h2 class="storyheadings heading3 storysection">The Problem</h2>
        <h4 class="aboutsub story body3">Patient portals do a really bad job of helping people to see how their health data affects their day-to-day life. Consequently, people trying to improve their health don’t have the tools and knowledge they need to make safe, long lasting changes. And with a limited amount of willpower it’s tough to just “keep going”. We believe these are big problems so we're doing something about it.&nbsp;</h4>
      </div>
      <div>
        <h2 class="storyheadings heading2 storysection">What We Do</h2>
        <h4 class="aboutsub story body2">Kurbi is a web and mobile app that helps people living with health related limitations to do things they care about, safely. <br><br>How it works is simple ::  based on what we know about our user we show them how their health will affect their ability to accomplish their goals.&nbsp;</h4>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="w-container">
      <div>
        <h6>© 2011-2015 Kurbi Health, Inc.</h6>
      </div>
    </div>
  </div>