<div id="sidebar" class="col-md-2 hidden-sm hidden-xs">
	
	<div id="goal-block" ng-controller="GoalController">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Your Current Goals</h2>
				<a class="pull-right"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->

		<div class="sidebar-section table">
			<div class="table-center text-center">
				<a class="btn btn-default" role="button" ng-click="openAside('right',true,'modules/goal/templates/activities.html')">Add New Goal</a>
			</div><!--END .table-center-->
			<div class="clear"></div>
		</div><!--END .sidebar-section-->	

		<div ng-repeat="goal in goalsList">
			<div class="sidebar-section table">
				<div class="table-center" ng-click="loadGoalPath(goal.id)">
					<div ng-if="goal.iconPath == ''">
						<img src="http://placehold.it/40x40" alt="{{card.author}}" class="profile-small pull-left img-responsive" />
					</div>
					<div ng-if="goal.iconPath != ''">
						<img src="/design/img/{{goal.iconPath}}" alt="" class="profile-small pull-left img-responsive" />
					</div>
					<p class="pull-right col-md-8">
						{{goal.name}}
					</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>	
	</div><!--END #goal-block-->
	
	<div id="team-block">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Your Care Team</h2>
				<a class="pull-right"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->
		
		<div ng-repeat="tm in careTeamList">
			<div class="sidebar-section table">
				<div class="table-center">
					<a href="#" class="pull-left">
						<div ng-if="tm.avatar == '' || tm.avatar==undfined">
							<img src="http://placehold.it/40x40" alt="{{tm.firstName}} {{tm.lastName}}" height="40" width="40" class="profile-small pull-left" />
						</div>
						<div ng-if="tm.avatar != '' && tm.avatar != undefined">
							<img src="/design/user_images/{{tm.avatar}}" alt="Member Name" class="profile-small" />
						</div>
					</a>
					<p class="pull-left"><strong>{{tm.firstName}} {{tm.lastName}}</strong><br />{{tm.role}}</p>
				</div><!--END .table-center-->
				<div class="clear"></div>
			</div><!--END .sidebar-section-->
		</div><!--END careteam loop-->
		
	</div><!--END #team-block-->
	
	<div id="symptom-block">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Your Symptom List</h2>
				<a href="#" class="pull-right"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->
		
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet red fa fa-circle"></i></p>
				<p class="pull-left">Fatigue</p>
				<p class="pull-right">Today</p>
			</div><!--END .table-center-->
			<div class="clear"></div>
		</div><!--END .sidebar-section-->
	
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet red fa fa-circle"></i></p>
				<p class="pull-left">Leg Heaviness</p>
				<p class="pull-right">Today</p>
			</div><!--END .table-center-->
			<div class="clear"></div>
		</div><!--END .sidebar-section-->
	
	
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet green fa fa-circle"></i></p>
				<p class="pull-left">Wondering Thoughts</p>
				<p class="pull-right">Today</p>
			</div><!--END .table-center-->
			<div class="clear"></div>
		</div><!--END .sidebar-section-->
	
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet yellow fa fa-circle"></i></p>
				<p class="pull-left">Migraine</p>
				<p class="pull-right">3/17</p>
			</div><!--END .table-center-->
			<div class="clear"></div>
		</div><!--END .sidebar-section-->
	</div><!--END #symptom-block-->
	
</div><!--END #sidebar-->