<div id="sidebar" class="col-md-2 hidden-sm hidden-xs">
	
	<div id="symptom-block">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Persistent Symptoms</h2>
				<a href="#" class="pull-right"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->

		<div ng-if="!topSymptoms||topSymptoms.length==0">
			<span style="display:block;overflow:auto;height:100px;position:relative;" us-spinner="{lines: 10, radius:15, width:8, length: 12}"></span>
		</div>
		<div class="sidebar-section table" ng-repeat="tSyms in topSymptoms|orderBy:topSymptomsOrder:topDescending|limitTo:topSymptomsLimit">
			<div class="table-center">
				<table>
					<tr>
						<td><i class="symptom-bullet {{topSeverityColorObj[tSyms.name]}} fa fa-circle"></i></td>
						<td>
							{{tSyms.name}}<br />
							{{tSyms.date}}
						</td>
					</tr>
				</table>
			</div><!--END .table-center-->
			<div class="clear"></div>
		</div><!--END .sidebar-section-->
	</div><!--END #symptom-block-->
	
</div><!--END #sidebar-->