<div id="sidebar" class="col-md-2 hidden-sm hidden-xs">
	
	<div id="goal-block">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Your Current Goals</h2>
				<a class="pull-right" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->
		
		<div collapse="isCollapsed">
			<div class="sidebar-section table">
				<div class="table-center text-center">
					<a class="btn btn-default" role="button" ng-click="togglePageslider('goalNew')">Add New Goal</a>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="sidebar-section table">
				<div class="table-center">
					<a href="#" class="pull-left"><img src="http://placehold.it/30x30" alt="" class="profile-small" /></a>
					<p class="pull-left"><strong>Bike Riding</strong><br />4mi / 1hr 15min</p>
					<input type="checkbox" name="" value="" class="pull-right" />
				</div>
				<div class="clear"></div>
			</div>
			
		</div>
	</div><!--END #goal-block-->
	
	<div id="team-block">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Your Care Team</h2>
				<a class="pull-right" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->
		
		<div class="sidebar-section table">
			<div class="table-center text-center">
				<a class="btn btn-default" role="button">View Care Team</a>
			</div>
			<div class="clear"></div>
		</div>
		
		<div collapse="isCollapsed">
			<div ng-repeat="tm in careTeamList">
				<div class="sidebar-section table">
					<div class="table-center">
						<a href="#" class="pull-left"><img src="http://placehold.it/30x30" alt="Member Name" class="profile-small" /></a>
						<p class="pull-left"><strong>{{tm.firstName}} {{tm.lastName}}</strong><br />{{tm.role}}</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		
	</div><!--END #team-block-->
	
	<div id="symptom-block">
		<div class="side-headline table">
			<div class="table-center">
				<h2 class="pull-left">Your Symptom List</h2>
				<a href="#" class="pull-right"><i class="fa fa-plus"></i></a>
			</div>
			<div class="clear"></div>
		</div><!--END .side-headline-->
		
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet red fa fa-circle"></i></p>
				<p class="pull-left">Fatigue</p>
				<p class="pull-right">Today</p>
			</div>
			<div class="clear"></div>
		</div>
	
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet red fa fa-circle"></i></p>
				<p class="pull-left">Leg Heaviness</p>
				<p class="pull-right">Today</p>
			</div>
			<div class="clear"></div>
		</div>
	
	
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet green fa fa-circle"></i></p>
				<p class="pull-left">Wondering Thoughts</p>
				<p class="pull-right">Today</p>
			</div>
			<div class="clear"></div>
		</div>
	
		<div class="sidebar-section table">
			<div class="table-center">
				<p class="pull-left"><i class="symptom-bullet yellow fa fa-circle"></i></p>
				<p class="pull-left">Migraine</p>
				<p class="pull-right">3/17</p>
			</div>
			<div class="clear"></div>
		</div>
	</div><!--END #symptom-block-->
	
</div><!--END #sidebar-->